<h2>Ask a question.</h2>
<form>
  <label for="question">Question?</label>
  {{input value=question id="question"}}<br>
  <label for="notes">Further explanation:</label><br>
  {{textarea value=notes id="notes"}}<br>
  <button {{action 'askQuestion'}}>Submit</button>
</form>
