<h1>Questions...</h1>
{{#link-to 'index'}}Home{{/link-to}}
{{#link-to 'login' }}Login{{/link-to}}
{{#link-to 'signup'}}Sign-up{{/link-to}}
{{#link-to 'about'}}About{{/link-to}}
{{#each model as |user|}}
  {{#if user.active}}
    {{login-status sessionUser=user}}
  {{/if}}
{{/each}}
<hr>
{{outlet}}
<hr>
Questions is a question board app built with
<a href="http://www.emberjs.com/">Ember JS</a>!<br>
